{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": false
  },
  "env": {
    "browser": true
  },
  "rules": {
    "max-len": ["error", 110],
    "brace-style": ["error", "stroustrup"],
    "object-curly-spacing": ["error", "never"],
    "comma-dangle": ["error", "never"],
    "react/jsx-filename-extension": ["error", {"extensions": [".js", ".jsx"]}],
    "import/prefer-default-export": "off"
  }
}
